@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(50, 60, 65);
    padding: 18px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0 15px;
    font-size: 1.2rem;
}

.navbar a:hover {
    color: rgb(200, 200, 200);
}

/* Home Page Styles */
.home {
    text-align: center;
    width: 85%;
    max-width: 800px;
    margin: 30px auto;
}

.home ol {
    text-align: left;
}

/* Login/Register Page Styles */
.login-container {
    overflow: hidden;
    text-align: center;
    width: 85%;
    max-width: 500px;
    margin: 30px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.account-container {
    width: 85%;
    max-width: 500px;
}

.account-container h1 {
    padding: 20px ;
    background-color: rgb(223, 231, 232);
    margin: 0;
    border-bottom: #ccc 1px solid;
}

.account-container p {
    padding: 0px;
    margin: 0;
}

.login-container .box {
    padding: 20px;
}

.login-container input, #logout-button{
    font-family: Arial, sans-serif;
    font-weight: normal;
    border: none;
    background-color:rgb(223, 231, 232);
    font-size: 1rem;
    display: block;
    width: 80%;
    padding: 15px;
    text-align: left;
    margin: 15px auto;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container input[type="submit"], #logout-button {
    background-color: rgb(92, 126, 143);
    color: white;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
#logout-button {
    background-color: rgb(177, 160, 160);
    /* margin-top: 30px; */
}

.login-container input[type="submit"]:hover {
    background-color: rgb(56, 86, 98);
}

#logout-button:hover {
    background-color: rgb(108, 81, 81);
}

.login-container p {
    padding: 20px;
}

img.login-banner {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding: 0;
    margin: 0;
    z-index: -5;
}

#error {
    color: red;
}

#message {
    color: green;
}

/* Dashboard Styles */

.mailers h1, .mailer h1 {
    text-align: left;
    padding: 20px ;
    background-color: rgb(223, 231, 232);
    margin: 0;
    border-bottom: #ccc 1px solid;
}
.mailers ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mailers li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    border-top: #ccc 1px solid;
}

.mailers li:first-child {
    border-top: none;
}

.mailer-title {
    flex: auto;
    text-align: left;
}

.mailers .actions {
    display: flex;
    gap: 12px;
    flex: 0 0 auto;
    align-items: center;
}

.mailers, .mailer {
    overflow: hidden;
    text-align: center;
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.mailer {
    max-width: 800px;
    margin: 30px auto;
}
.mailers ul {
    list-style-type: none;
    padding: 0 20px;
}

.mailers a {
    text-decoration: none;
    background-color: rgb(223, 231, 232);
    padding: 10px;
    border-radius: 10px;
    color: black;
}

.mailers a:hover {
    background-color: rgb(215, 215, 215);
}

.mailers .red-button {
    background-color: rgb(216, 195, 195);
}
.mailers .red-button:hover {
    background-color: rgb(212, 182, 182);
}

.mailers .green-button {
    background-color: rgb(208, 218, 208);
}
.mailers .green-button:hover {
    background-color: rgb(200, 210, 200);
}

.mailers .blue-button {
    background-color: rgb(195, 207, 217);
}

.mailers .blue-button:hover {
    background-color: rgb(190, 200, 210);
}

@media (max-width: 600px) {
  .button-text {
    display: none;
  }
}

#mailer input, #mailer select {
    font-family: Arial, sans-serif;
    font-weight: normal;
    border: none;
    background-color:rgb(223, 231, 232);
    font-size: 1rem;
    display: block;
    width: 80%;
    box-sizing: border-box;
    padding: 15px;
    text-align: left;
    margin: 15px auto;
    border-radius: 5px;
}

#mailer input[type="submit"] {
    background-color: rgb(92, 126, 143);
    color: white;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
#mailer input[type="submit"]:hover {
    background-color: rgb(56, 86, 98);
}

#mailer label {
    display: block;
    text-align: left;
    margin: 15px auto 5px auto;
    width: 80%;
    font-weight: bold;
}